{{ define "main" }}
<main>
    <section class="hero">
		<div class="text-container">
			<h1 class="editable">
				<strong>Personicle - the personal chronicle</strong>
			</h1>
			<p class="subtext editable">
				Personicle is a person centric healthcare and lifestyle data platform that logs information about lifestyle, health, social, environmental, and other aspects of a person's life to provide highly personalized &amp; preventive health insights in real-time. Our mission is to provide a complete view of a person's life style and health and enable individuals and healthcare providers to make informed decisions in clinical and real-world setting.
			</p>
			<!--<div class="cta button alt"><a href={{ "/sign-up/" | relURL }}>Get Started Free</a></div>-->
			<!--use image carousel here-->
			<div>
				<img src="image/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
	
	<div class="content">
		<section>
			<div class="container flex">
				<div class="text editable">
					<h2>Leverage your data</h2>
					<p>You are generating a large amount of data about your habits and lifestyle. Leverage it to get a complete view of your health and life.</p>
				</div>
				<div class="image">
					<img alt="Screenshot" class="screenshot editable" src="/uploads/data-connections.png" width="794" />
				</div>
			</div>
		</section>
	
		<section>
			<div class="container flex">
				<div class="text editable">
					<h2>Identify your habits</h2>
					<p>Users can aggregate their events and find out how much time was spent in different activities. This can empowers users to identify their long-term habits and align their actions with the goals.</p>
				</div>
				<div class="image">
					<img src="image/dashboard.png" alt="Screenshot" class="screenshot editable" />
				</div>
			</div>
		</section>
	
		<section>
			<div class="container flex">
				<div class="text editable">
					<h2>Understand yourself</h2>
					<p>Personicle can leverage the daily events and information about user's daily lives to identify the situations that trigger outcomes of interest. This enables users to get a better understanding of their behavior and health and achieve their life and health goals.</p>
				</div>
				<div class="image">
					<img alt="Screenshot" class="screenshot editable" src="/uploads/events-timeline.png" width="794" />
				</div>
			</div>
		</section>
	
		<!-- <section class="testimonial">
			<div class="container flex">
				<div class="testimonial-block">
					<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable" /></div>
					<blockquote>
						<p class="editable">
							Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.
						</p>
						<p class="editable author">
							Jim James - CEO of Global Corp.
						</p>
					</blockquote>
				</div>
			</div>
		</section> -->
	
		<section class="bottom-cta">
			<h2 class="editable">
				<strong>Improve</strong> your sales process today
			</h2>
			<div class="button alt"><a href="#">Get Started Free</a></div>
		</section>
	</div>

</main>
{{ end }}
